.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
}

button {
  background-color: #3393EC; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}
/* Create three equal columns that sits next to each other */
.column {
  flex: 20%;
  max-width: 20%;
}

.column img {
  vertical-align: middle;
  width: 100%;
/*  image-rendering: pixelated;
*/}

body {
 background-color: white;
 margin-left: 20px;
}

.overlay {
  position: absolute; 
  bottom: 10%;
  left: -5%;
  background: none;
  color: #f1f1f1; 
  width: 100%;
  opacity:0.75;
  color: white;
  font-size: 100px;
  padding: 50px;
  text-align: center;
}

.card{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  width: 90%;
  border-radius: 8px;
  margin-bottom: 5px;
}

h1 {
	font-family: 'Rubik', sans-serif;
	font-size: 72px;
	color: #3393EC;
  font-weight: 900;
  padding: 0;
	margin: 0;
}

h4 {
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	color: #3d3d3d;
	font-weight: 300;
}

h2 {
	font-family: 'Rubik', sans-serif;
	font-size: 24px;
	color: #3d3d3d;
	font-weight: 500;
	padding: 0;
  margin-top: 20px;
  margin-left: 5px;
}

#warning {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: red;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  z-index: 2;
  display: none;
}

#warning img {
  position: fixed;
  top: 25%;
  left: 34%;
  margin-top: -50px;
  margin-left: -100px;
  height: 500px;
  width: 500px;
}

#text1 {
  position: absolute;
  top: 10%;
  left:10%;
  font-size: 72px;
  color: white;
  font-family: Rubik;
  font-weight: 700;
}

#text2 {
  position: absolute;
  top: 70%;
  left: 20%;
  font-size: 42px;
  color: white;
  font-family: Rubik;
  font-weight: 300;
  text-align: center;
}

#title {
  margin-left: -15px;
}